.card {
    &:not(.flat) {
        @apply rounded-2xl bg-white overflow-hidden;
        box-shadow: 0px 4px 15px 0px rgba(6, 12, 41, 0.15);
    }
    &__event {
        @apply flex flex-col lg:flex-row;
        &__image {
            @apply relative w-full lg:w-[185px] flex-none bg-kblbb-bg min-h-[185px] overflow-hidden;

            img {
                @apply absolute top-0 left-0 w-full h-full object-cover transition-all;
            }

            .date {
                @apply absolute top-0 left-0 bg-white rounded-br-2xl rounded-tl-2xl p-2 flex flex-col items-center gap-1;

                > div {
                    @apply transition-all;
                    &:first-child {
                        @apply text-[#021825] font-albert text-center text-ellipsis text-[28px] md:text-[32px] not-italic font-bold leading-[normal] capitalize;
                    }
                    &:last-child {
                        @apply font-albert text-[#021825] text-ellipsis text-[11px] not-italic font-bold leading-[14px] tracking-[1px] uppercase;

                    }
                }
            }

        }

        &__content {
            @apply p-4 flex flex-col justify-between gap-4;

            &__category {
                @apply w-fit text-sm not-italic font-semibold leading-4 text-kblbb-green mb-4;
            }

            &__title {
                @apply font-semibold line-clamp-3 text-lg/[26px] text-[#002941];
            }

            &__detail {
                div {
                    @apply flex gap-2 items-center font-normal leading-[16px] text-[12px] md:text-sm;

                    // a {
                    //     @apply underline underline-offset-4 decoration-dashed hover:decoration-kblbb-green;
                      
                    // }
                }

                &__location {
                    @apply text-[#A2A5AA] transition-all;

                    svg {
                        path {
                            @apply transition-all;
                        }
                    }
                }
            }
        }

        &__featured {
            @apply flex-col md:flex-row;

            .card {
                &__event {
                    &__image {
                        @apply w-full md:w-[55%] flex-shrink-0 h-full aspect-auto min-h-[380px];

                        .date {
            
                            > div {
                                &:first-child {
                                    @apply text-[28px] md:text-[42px];
                                }
                                &:last-child {
                                    @apply text-[14px];
            
                                }
                            }
                        }
                    }

                    &__content {
                        @apply p-6;
                        &__category {
                            @apply text-kblbb-green mb-8 transition-all;
                        }

                        &__title {
                            @apply text-[24px]/[32px] text-[#002941] line-clamp-3 mb-2 transition-all;
                        }

                        p {
                            @apply mb-8;
                        }
                    }
                }
            }


        }

        &:hover {
            .card {
                &__event {
                    &__image {
                        img {
                            @apply scale-110;
                        }
                        .date {
                            > div {
                                @apply text-kblbb-blue #{!important};
                            }
                        }
                    }
                    &__content {
                        &__category {
                            @apply text-kblbb-blue;
                        }

                        &__title {
                            @apply text-kblbb-blue;
                        }

                        p {
                            @apply mb-8;
                        }
                        
                        &__detail {
                            &__location {
                                @apply text-kblbb-blue;
                            }

                            svg {
                                path {
                                    @apply fill-kblbb-blue;
                                }
                            }
                        }
                    }

                }
            }
        }

        &__past {
            .card {
                &__event {
                    &__image {
                        img {
                            @apply grayscale;
                        }
                    }

                    &__content {

                        &__category {
                            @apply text-black;
                        }

                        &__title {
                            @apply  hover:text-gray-500;
                        }

                        &__detail {
                            div {
                                a {
                                    @apply hover:decoration-gray-500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__news__home {
        @apply flex flex-col justify-between min-h-[378px];
        box-shadow: 0px 4px 15px 0px rgba(6, 12, 41, 0.15);
        &__image {
            @apply relative w-full bg-kblbb-bg h-[50%] max-h-[186px] overflow-hidden;

            img {
                @apply absolute top-0 left-0 w-full h-full object-cover transition-all duration-300;
            }
        }


    

        &__content {
            @apply p-[16px] lg:p-6 flex flex-col flex-grow justify-between;

            &__category {
                @apply w-fit text-kblbb-green mb-[10px];
                @apply text-sm not-italic font-semibold leading-[16px];

            }

            &__title {
                @apply text-[18px] not-italic font-semibold leading-[26px] text-[#202A3C] line-clamp-3 mb-[16px] font-albert;
            }

            &__detail {
                @apply flex gap-2 items-start font-light text-sm justify-between;

                a {
                    @apply underline underline-offset-4 decoration-dashed hover:decoration-kblbb-green;
                    svg {
                        @apply text-[#A2A5AA];
                    }
                }

                > div {
                    @apply font-semibold leading-4 text-[#A2A5AA];
                }
            }
        }

        &:hover {
            img {
                @apply scale-110;
            }
            .card__news__home__content {
                @apply text-[#2A50B0];
                .card__news__home__content__category, .card__news__home__content__title, .card__news__home__content__detail {
                    @apply text-[#2A50B0];
                }
            }
        }
        &--big {
            @apply flex-col md:flex-row h-full w-full min-h-[362px];

            &__image {
                @apply relative h-[300px] lg:h-full w-full min-h-full xl:min-h-[362px] min-w-[50%] 2xl:min-w-[559px] flex-shrink bg-kblbb-bg;
            }

            &__content {
                @apply flex-grow justify-between gap-[8px] md:gap-[32px] h-[auto] p-[24px] xl:px-6 xl:py-8;
                &__title {
                    @apply text-[22px] xl:text-[24px]/[34px] line-clamp-none my-[8px] md:mt-[32px] text-[#002941];
                }
                &__desc {
                    @apply text-[#002941] text-[16px] xl:text-base not-italic font-light leading-6 font-albert mb-0 xl:mt-[16px];
                    &:hover {
                        @apply text-[#002941]; 
                    }
                }
            }

            &:hover {
                .card__news__home--big__content {
                    @apply text-kblbb-blue;
                }
            }
        }
    }

    &__catalog {
        @apply flex flex-col xl:flex-row p-[8px] xl:p-4 gap-4;

        &__image {
            @apply w-full xl:w-[183px] flex-shrink-0 h-[222px] md:h-[122px] rounded-lg overflow-hidden;

            img {
                @apply relative w-full h-full object-cover bg-kblbb-bg;
            }
        }

        &__content {
            @apply flex-grow p-[8px] md:p-0;
            &__label {
                @apply text-[12px]/[12px] font-medium text-[#666C73] block;
            }

            &__detail {
                @apply grid grid-cols-2 gap-2;

                .label {
                    @apply text-[#666C73] text-[12px] not-italic font-light leading-[16px];
                }

                .value {
                    @apply text-[#021825] text-[14px] not-italic font-semibold leading-[22px];
                }

                // div > div {
                //     @apply text-xs;
                // }
            }

            &__title {
                @apply text-[#021825] text-sm mb-2 font-semibold;
            }

            &__learn-more {
                @apply underline underline-offset-4 decoration-dashed hover:decoration-kblbb-green mt-8 text-xs inline-block cursor-pointer;
            }
        }

    }
}

.card-component {
    @apply w-full lg:w-[234px] 4xl:w-[24%] bg-white;
    @apply shadow-[0px_1px_7px_0px_rgba(0,0,0,0.20)] rounded-lg;
    &:hover {
        .link-to {
            @apply underline;
        }
    }
    &__date-new {
        @apply flex flex-row justify-between items-center w-full;
        span {
            @apply text-[#666C73] text-sm not-italic font-normal leading-[18px] font-albert;
        }
        .link-to {
            @apply flex flex-row items-center gap-[4px];
        }
    }
    &__image {
        @apply w-full h-[182px];
        img {
            @apply w-full h-full object-cover rounded-tl-lg rounded-tr-lg;
        }
    }
    &__description {
        @apply flex flex-col justify-between items-start flex-[1_0_0] self-stretch p-4;
        &-date {
            @apply text-[#909091] text-[11px] not-italic font-normal leading-4 mb-1 font-albert;
        }
        &-heading {
            @apply overflow-hidden text-[#080808] mb-[24px] text-ellipsis text-sm not-italic font-semibold leading-[22px] shrink-0 self-stretch;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            display: -webkit-box;
        }
        &-label {
            @apply flex flex-row justify-center items-center gap-[4px];
            &-item {
                @apply size-[24px] lg:size-[32px];
            }
        }
        &-bagde {
            @apply px-[6px] py-[4px] rounded-[100px] bg-[#61778A] mb-[16px];
            @apply text-white text-[8px] not-italic font-bold leading-[10px] uppercase font-albert;
        } 
    }
}

.card-ev {
    @apply w-full relative bg-white flex flex-col lg:min-h-[332px] overflow-hidden;
    @apply shadow-[0px_1px_7px_0px_rgba(0,0,0,0.20)] rounded-2xl;
    .overlay {
        @apply absolute w-full h-full top-0 left-0 bg-[#00000033] z-[5] rounded-2xl;
    }
    &:hover {
        .overlay {
            @apply rounded-2xl;
        }
        .link-to {
            @apply underline;
        }
    }
    &__date-new {
        @apply flex flex-row justify-between items-center w-full;
        span {
            @apply text-[#666C73] text-sm not-italic font-normal leading-[18px] font-albert;
        }
        .link-to {
            @apply flex flex-row items-center gap-[4px];
        }
    }
    &__image {
        @apply w-full  h-full absolute top-0 left-0 overflow-hidden after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black/[15px];

        // &::after {
        //     background: linear-gradient(180deg, rgba(#000, 0.7) 0%, rgba(115, 115, 115, 0.00) 100%);
        // }
       
        img {
            @apply w-full h-full object-cover rounded-lg transition-all duration-300;
        }
    }

    &:hover {
        .card-ev {
            &__image {
                img {
                    @apply scale-110;
                }
            }
        }
    }
    &__description {
        @apply flex h-[204px] flex-col justify-between items-start lg:flex-[1_0_0] lg:self-stretch p-4 relative z-[10];
        &-date {
            @apply text-[#909091] text-[11px] not-italic font-normal leading-4 mb-1 font-albert;
        }
        &-heading {
            @apply overflow-hidden text-white mb-[24px] text-ellipsis not-italic shrink-0 self-stretch;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.70);
            @media screen and ( max-width: 768px ) {
                -webkit-line-clamp: 3;
            }
        }
        &-label {
            @apply flex flex-row justify-center items-center gap-[4px];
            &-item {
                @apply lg:size-[32px] size-[24px];
                svg {
                    @apply lg:size-[32px] size-[24px];
                }
            }
        }
        &-bagde {
            @apply text-white text-[12px] leading-[18px] lg:leading-[22px] lg:text-[14px] not-italic font-normal font-albert;
            text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.70);
        } 
        &-space {
            @apply flex flex-col lg:gap-[8px];
        }
    }
}

.card__community {
    .card-component {
        &__image {
            @apply relative h-[130px] border-b border-b-[#A2A5AA];
            img {
                @apply object-contain w-[70%] h-[50%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
            }
        }

        &__description {
            @apply min-h-[20] lg:min-h-[182px];
        }
        &__description-heading {
            @apply line-clamp-3 lg:line-clamp-4 mb-0 leading-[26px] font-semibold text-[#202A3C] #{!important};
        }
    }
}

.card__register {
    
    background: linear-gradient(159deg, #4ABCC6 0%, #5A71BF 60.7%, #585CB2 120.82%);
    @apply flex flex-col justify-between px-4 py-8 before:absolute before:w-full before:h-full relative rounded-2xl overflow-clip;
    
    &::before {
        @apply top-0 left-0;
        background: linear-gradient(162deg, rgba(57, 114, 52, 0.50)7.27%, rgba(41, 57, 88, 0.50)53.52%, rgba(9, 13, 45, 0.50)93.72%);
    }

    h3 {
        @apply text-white relative;
    }
    > * {
        @apply relative;
    }
}


.list-card-content {
    @apply grid grid-cols-2 md:grid-cols-3 1xl:grid-cols-4 gap-[15px];

    &__event {
        @apply grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-6;
    }

    &__news {
        @apply grid grid-cols-1 md:grid-cols-3 1xl:grid-cols-4 gap-4;
    }

    &__catalog {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4;
    }

    &__community {
        @apply grid grid-cols-2 md:grid-cols-3 1xl:grid-cols-5 gap-[18.75px];

        .card-component {
            @apply w-full;

            .card-component__description-heading {
                @apply text-lg cursor-pointer font-bold hover:text-kblbb-green;
            }
        }
    }
}

