.latest-news {
    @apply relative z-[10] py-[32px] xl:pb-0 xl:pt-[80px] px-[0px] xl:px-[48px] 3xl:px-0;
    &__home {
        &__header {
            @apply flex justify-between items-center mb-[24px] xl:mb-[32px];

            h3 {
                @apply text-[#666C73] text-sm not-italic font-bold leading-6 tracking-[1px] uppercase leading-6;
            }
        }
    }

    &__list {
        @apply grid grid-cols-12 gap-4;
            > div {
                @apply first:col-span-12 last:col-span-12 last:gap-5 md:last:grid last:hidden last:grid-cols-2 xl:last:grid-cols-4;
            }
    }
    .slider-mobile-container {
        @apply pt-[24px] pb-[8px]  md:hidden;
        .scroll-mobile {
            display: flex;
            flex-wrap: nowrap;  // This ensures cards are in a single line
            overflow-x: auto;   // This makes the container scrollable horizontally
            scroll-snap-type: x mandatory;
            gap: 1rem;
            -webkit-overflow-scrolling: touch;
                &::-webkit-scrollbar {
                    display: none;    // Hides scrollbar in webkit-based browsers (e.g., Safari, Chrome)
                }
        
            .card__news__home {
                flex: 0 0 auto;   // Prevents the card from shrinking and makes sure it's the width of its content
                width: 235px;     // Set the desired width of each card
                scroll-snap-align: start;
            }
        }
        
        
    }
}