.tag-slider {
    @apply relative py-[24px];
    .next, .prev {
        span {
            @apply size-[32px] flex justify-center items-center bg-[#E9EFFB] rounded-[50%];
        }
    }
    .next {
        background: linear-gradient(270deg,#F4F6FA 40.29%,rgba(255, 255, 255, 0) 118.93%);
        @apply w-[40px] lg:w-[108px] h-[40px] flex justify-end items-center absolute z-[9] top-1/2 -translate-y-1/2 -right-[5px];
    }
    .prev {
        background: linear-gradient(95deg,#F4F6FA 40.29%,rgba(255, 255, 255, 0) 118.93%);
        @apply w-[40px] lg:w-[108px] h-[40px] flex justify-start items-center absolute z-[9] top-1/2 -translate-y-1/2 -left-[5px];
    }

    .swiper-button-disabled {
        @apply hidden;
    }
}

.tag-container {
    @apply flex flex-row items-center flex-wrap;

    label {
        input {
            @apply hidden;
        }
        
        .tag-component {
            @apply px-[16px] py-[10px] cursor-pointer;
            @apply w-fit #{!important};
            @apply border border-solid border-[#C5D1EF];
            @apply rounded-[100px];
    
            &:hover {
                @apply bg-[#E9EFFB] border-[#E9EFFB];
    
                .tag-component_title {
                    span {
                        @apply text-[#2A50B0];
                    }
                }
            }
    
            .tag-component_title {
                @apply flex items-center justify-center;
    
                span {
                    @apply font-albert text-[#666C73];
                    @apply text-[14px] lg:text-base not-italic font-semibold leading-[18px];
                }
            }
        }

        input[checked="checked"] ~ .tag-component,
        input:checked ~ .tag-component {
            @apply bg-[#E9EFFB] border-[#E9EFFB];
    
            .tag-component_title {
                span {
                    @apply text-[#2A50B0];
                }
            }
        }
    }
}