@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #A2A5AA #F4F6FA;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #F4F6FA;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #A2A5AA;
    border-radius: 14px;
    border: 3px solid #F4F6FA;
  }


@tailwind components;
@tailwind utilities;

@import 'partials/text';

@layer base {
    body {
        @apply text-base font-albert antialiased text-kblbb-text;
    }

    .Content {
        @apply overflow-clip;
        // @apply min-h-[calc(100vh_-_56px)];
    }

    .content {
        @apply first:pt-[90px];
        &__with-bg {
            @apply bg-[#F4F6FA] py-[28px] lg:pt-[48px] lg:pb-[40px];
            @apply bg-[url('/public/imgs/ornament-footer.svg')] bg-no-repeat bg-[bottom_left];
        }
        &__container {
            @apply mx-auto max-w-[1146px] px-[24px] lg:px-12;

            &.detail-space {
                @apply max-w-[720px] px-[16px] lg:px-0 pb-[115px];

                @apply relative before:absolute;

                &:before {
                    @apply bg-[url('/public/imgs/pattern-home.svg')] w-[185px] h-[810px] -top-[497px] left-[calc(100%_+_94px)];
                }
            }
        }

    }

    a {
        @apply transition-all;
    }

    p {
        @apply font-light mb-4;
    }

    div[modal-backdrop] {
        @apply bg-black opacity-70 z-50;
    }

    table + h6 {
        span {
            @apply text-xs text-[#666C73] -mt-2.5 block mb-6 last:mb-0;
        }
    }
    table {
        @apply bg-white rounded-2xl overflow-hidden;

        tr {
            border-bottom: 1px solid var(--Grey-3, #DAE0EA);

            @apply last:border-0;
        }
        th {
            @apply bg-[#E9EFFB] px-4 py-2;

            p {
                @apply text-sm font-semibold text-[#021825] text-left;
            }
        }

        td {
            @apply py-4 px-2;

            p {
                @apply text-sm font-normal text-[#021825] text-left;
            }
        }
    }
    .table-action {
        @apply flex items-center gap-1;

        a {
            @apply rounded-full border block border-[#2A50B0] p-1;

            &:hover {
                @apply bg-kblbb-blue;

                &:first-child {

                    svg {
                        path {
                            @apply fill-white;
                        }
                    }
                }

                &:last-child {

                    svg {
                        path {
                            @apply stroke-white;
                        }
                    }
                }
            }
        }
    }

    .swiper-bottom {
        @apply flex justify-between items-center mt-[26px] xl:mt-8;

        .swiper-pagination {
            @apply relative bottom-[unset] flex gap-1;

            .swiper-pagination-bullet {
                @apply w-[6px] h-[6px] bg-[#2A50B0]/30 rounded-full m-0 transition-all;
            }

            .swiper-pagination-bullet-active {
                @apply w-6 bg-kblbb-blue;
            }
        }
        .swiper-control {
            @apply relative bottom-[unset] flex gap-5;

            .swiper-next,
            .swiper-prev {
                @apply size-6 rounded-full transition-all;
                background: #E9EFFB url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_1426_4104" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_1426_4104)"><path d="M10.375 11.575L14.275 15.475C14.4583 15.6583 14.55 15.8917 14.55 16.175C14.55 16.4583 14.4583 16.6917 14.275 16.875C14.0917 17.0583 13.8583 17.15 13.575 17.15C13.2917 17.15 13.0583 17.0583 12.875 16.875L8.275 12.275C8.175 12.175 8.10417 12.0667 8.0625 11.95C8.02083 11.8333 8 11.7083 8 11.575C8 11.4417 8.02083 11.3167 8.0625 11.2C8.10417 11.0833 8.175 10.975 8.275 10.875L12.875 6.275C13.0583 6.09167 13.2917 6 13.575 6C13.8583 6 14.0917 6.09167 14.275 6.275C14.4583 6.45833 14.55 6.69167 14.55 6.975C14.55 7.25833 14.4583 7.49167 14.275 7.675L10.375 11.575Z" fill="%232A50B0"/></g></svg>') center no-repeat;

                &:hover {
                    background: #2A50B0 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_1426_4114" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_1426_4114)"><path d="M10.375 11.575L14.275 15.475C14.4583 15.6583 14.55 15.8917 14.55 16.175C14.55 16.4583 14.4583 16.6917 14.275 16.875C14.0917 17.0583 13.8583 17.15 13.575 17.15C13.2917 17.15 13.0583 17.0583 12.875 16.875L8.275 12.275C8.175 12.175 8.10417 12.0667 8.0625 11.95C8.02083 11.8333 8 11.7083 8 11.575C8 11.4417 8.02083 11.3167 8.0625 11.2C8.10417 11.0833 8.175 10.975 8.275 10.875L12.875 6.275C13.0583 6.09167 13.2917 6 13.575 6C13.8583 6 14.0917 6.09167 14.275 6.275C14.4583 6.45833 14.55 6.69167 14.55 6.975C14.55 7.25833 14.4583 7.49167 14.275 7.675L10.375 11.575Z" fill="white"/></g></svg>') center no-repeat;
                }

                &.swiper-button-disabled {
                    background: #DAE0EA url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><mask id="mask0_1426_4124" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="%23DAE0EA"/></mask><g mask="url(%23mask0_1426_4124)"><path d="M10.375 11.575L14.275 15.475C14.4583 15.6583 14.55 15.8917 14.55 16.175C14.55 16.4583 14.4583 16.6917 14.275 16.875C14.0917 17.0583 13.8583 17.15 13.575 17.15C13.2917 17.15 13.0583 17.0583 12.875 16.875L8.275 12.275C8.175 12.175 8.10417 12.0667 8.0625 11.95C8.02083 11.8333 8 11.7083 8 11.575C8 11.4417 8.02083 11.3167 8.0625 11.2C8.10417 11.0833 8.175 10.975 8.275 10.875L12.875 6.275C13.0583 6.09167 13.2917 6 13.575 6C13.8583 6 14.0917 6.09167 14.275 6.275C14.4583 6.45833 14.55 6.69167 14.55 6.975C14.55 7.25833 14.4583 7.49167 14.275 7.675L10.375 11.575Z" fill="%23A2A5AA"/></g></svg>') center no-repeat;
                }
            }

            .swiper-next {
                @apply rotate-180;
            }
        }
    }

    .page-with-bg {
        @apply bg-[url('/public/imgs/ornament-footer.svg')] bg-no-repeat bg-[bottom_left] min-h-screen;
    }

    .page-home {
        @apply bg-white;
    }
}

@import 'partials/header',
        'partials/sidenav',
        'partials/footer',
        'partials/button',
        'partials/modal',
        'partials/table',
        'partials/map';

@import 'components/banner',
        'components/big-text-image',
        'components/fact-figures',
        'components/infrastructures',
        'components/card',
        'components/latest-news',
        'components/events',
        'components/banner',
        'components/tags',
        'components/filter',
        'components/knowledge-list',
        'components/partner-list',
        'components/item-card',
        'components/accordion',
        'components/full-text',
        'components/tooltip',
        'components/apex-legend',
        'components/pagination',
        'components/faq-home',
        'components/slide-ev',
        'components/download',
        'components/chart';


@import 'pages/multiple-page',
        'pages/faq',
        'pages/contact';


.page-error {
    @apply w-full text-center lg:h-screen flex flex-col justify-center flex-grow-0 bg-cover px-[24px] md:px-0;

    &__heading {
        @apply text-[#2A50B0] text-center text-[56px] not-italic font-bold leading-[60px];
    }

    &__title {
        @apply text-[#2A50B0] text-center text-4xl not-italic font-semibold leading-[48px] mb-2;
    }

    p {
        @apply text-kblbb-grey-1 text-center text-base not-italic font-medium leading-6 mb-6;
        font-feature-settings: "clig" off, "liga" off;
    }
}
