.sidenav {
    @apply fixed top-0 left-0 z-40 w-full md:w-[220px] h-screen transition-transform lg:translate-x-0 bg-[#6981BE] shadow-[0px_0px_13.6px_0px_rgba(0,0,0,0.10)];

    &::before {
        content: '';
        background-image: url('data:image/svg+xml,<svg width="220" height="768" viewBox="0 0 220 768" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="-43" width="332" height="768" fill="url(%23paint0_linear_3002_1678)" fill-opacity="0.5"/><defs><linearGradient id="paint0_linear_3002_1678" x1="27" y1="20.5" x2="454.989" y2="575.711" gradientUnits="userSpaceOnUse"><stop stop-color="%23119ECB"/><stop offset="0.535023" stop-color="%23293958"/><stop offset="1" stop-color="%23090D2D"/></linearGradient></defs></svg>');

        @apply absolute top-0 left-0 w-full h-full bg-cover bg-no-repeat bg-center;

    }
    &__content {
        @apply h-full flex flex-col relative;

        &__logo {
            @apply p-4 pt-8 flex flex-row justify-between;
            .title {
                @apply text-white uppercase leading-[22px];
                h3 {
                    @apply font-semibold lg:text-[18px]/[22px] mb-2;
                }
                h5 {
                    @apply  font-normal lg:text-[10px]/[14px] tracking-[1px];
                }
            }
            .close {
                @apply cursor-pointer lg:hidden;
            }
        }
        &__nav {
            @apply overflow-y-auto px-4 flex-1;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;

            @media screen and (max-width: 767px) {
                @apply pb-[50px];
            }

            &::-webkit-scrollbar {
                display: none;
            }

            ul {
               @apply py-4 border-t border-white/[13%];
                > li {
                    @apply mb-2 last:mb-0;
                    ul {
                        @apply pl-0 py-2;
                    }
                }

            }
            &__label {
                @apply text-xs/3 font-medium text-[#C5D1EF];
            }

            &__link {
                &__arrow {
                    @apply transition-all;
                    path {
                        @apply fill-white #{!important};
                    }
                }

                .icon {
                    @apply relative w-5 h-5 flex-shrink-0 -mt-[2px];

                    img {
                        @apply w-full h-full absolute top-0 left-0 object-contain transition-all;

                        &.hover {
                            @apply opacity-0;
                        }
                    }
                }


                a {
                    @apply flex justify-start items-start p-2 gap-1 rounded;

                    svg {
                        @apply flex-shrink-0;
                        @apply transition-all;

                        path {
                            @apply fill-white;
                        }
                    }

                    span {
                        @apply transition-all text-sm/[18px];

                        @apply text-white;
                    }

                    &[aria-expanded="true"],
                    &:hover,
                    &.active {
                        @apply bg-white rounded-full;

                        svg {

                            path {
                                @apply fill-kblbb-blue #{!important};
                            }
                        }

                        span {
                            @apply text-kblbb-blue font-semibold;
                        }

                        .icon {
                            img {
                                @apply opacity-0;

                                &.hover {
                                    @apply opacity-100;
                                }
                            }
                        }
                    }
                }

                .dropdown-btn {
                    @apply flex cursor-pointer justify-between items-start p-2;

                    > div {
                        @apply flex justify-start items-start gap-1;


                        span {
                            @apply transition-all text-sm/[18px];

                            @apply text-white;
                        }
                    }


                    .arrow {
                        @apply transition-all;
                        path {
                            @apply fill-white #{!important};
                        }
                    }

                    &[aria-expanded="true"] {
                        .arrow {
                            @apply rotate-180;
                        }
                    }

                }
            }

            a[aria-expanded="true"] {
                svg.sidenav__content__nav__link__arrow {
                    @apply rotate-180;
                }
            }

            .dropdown-menu {
                @apply border-none;

                a {
                    @apply flex items-start before:w-[6px] before:h-[6px] before:mt-[7px] before:mx-2 before:bg-white hover:before:bg-kblbb-blue before:flex-shrink-0 before:rounded-full before:transition-all;

                }
            }
        }

        &__footer {
            @apply bg-[#39476C] flex-shrink-0 flex justify-between items-center px-6 py-2;

            .copy {
                @apply text-white/[0.5] text-[10px]/[12px] font-medium;
            }
            // > div:first-child {
            //     @apply flex justify-start items-center gap-2;

            //     svg {
            //         @apply flex-shrink-0;
            //     }

            //     div {
            //         @apply flex flex-col gap-[2px];
            //         span {
            //             @apply text-white first:font-light font-semibold first:text-[8px] text-[12px] leading-4 first:leading-[8px];
            //         }
            //     }
            // }

        }
    }
}

.navbar {
    @apply relative z-[99];
    .navbar-mobile-fixed {
        @apply fixed top-0 left-0 right-0 w-full max-h-[56px] z-[10] lg:hidden;
        .navbar-header-top {
            @apply relative flex flex-row justify-between items-center p-[16px] w-full;
            background: linear-gradient(90deg, #3E90C5 0.2%, #427CAE 99.8%);
            .title {
                h3 {
                    @apply text-white text-sm not-italic font-black leading-4 uppercase font-albert;
                }
                h5 {
                    @apply text-white text-[10px] not-italic font-normal leading-4 uppercase font-albert;
                }
            }
            .navbar-click {
                @apply cursor-pointer;
            }
        }
    }
}