.map-content {
    @apply h-screen flex relative;

    .map-area {
        @apply flex flex-col flex-grow relative;

        > div {
            @apply first:flex-grow;

            .map {
                @apply w-full h-full;
            }
        }
        
        .page-switcher {
            box-shadow: 0px 2px 4.1px 0px rgba(0, 0, 0, 0.20);
            background-color: white;
        }

        .nav {
            @apply rounded-2xl bg-white w-[196px] mt-[15px] lg:mt-[33px] py-4;
            /* Button */
            box-shadow: 0px 2px 4.1px 0px rgba(0, 0, 0, 0.20);

            a {
                @apply flex w-full px-2 py-[9px] text-sm font-semibold text-[#021825] gap-2 hover:bg-[#E9EFFB] hover:text-[#03242F];

                &.active {
                    @apply bg-[#E9EFFB] text-[#2A50B0];
                }
                
                .svg {
                    @apply size-5 items-center flex justify-center flex-col;
                }
            }
        }
        .sidebar {
            @apply absolute top-[25px] left-[25px] flex gap-5 items-start overflow-hidden;

            &__nav {
                @apply bg-white shadow-sm rounded-md;

                &__link {
                        
                    @apply flex justify-start items-center p-[9px] gap-1 cursor-pointer;


                    svg {
                        @apply flex-shrink-0;
                        @apply transition-all;
                        
                        path {
                            @apply fill-kblbb-green;
                        }
                    }

                    span {
                        @apply transition-all;

                        @apply text-kblbb-text text-[11px] not-italic leading-3;
                        font-feature-settings: 'clig' off, 'liga' off;
                    }
                }

                &__content {
                    @apply overflow-hidden transition-all duration-300 ease-in-out grid;
                }
            }
        }
    }

    .map-detail {
        .sosmed-container {
            @apply flex gap-2 justify-center mt-4;

            a {
                @apply border rounded-full border-kblbb-blue block p-2;
                svg {
                    @apply size-4;
                }
            }

        }
        .mobile-close {
            @apply md:hidden w-full flex flex-row justify-center mb-[24px];
            .icon-map {
                @apply w-[43px] h-[3px] rounded-[16px] bg-[#A2A5AA];
            }
        }
        @apply lg:relative hidden;
        @apply w-full absolute bottom-0 lg:relative lg:w-[330px];
        
        .close-map-detail {
            @apply absolute top-7 bg-[#FFF] -left-0 -translate-x-full py-4 rounded-l-lg cursor-pointer;
            box-shadow: 0px 2px 4.1px rgba(0, 0, 0, 0.20);
        }

        &__data {
            @apply flex font-normal text-sm mb-2 py-2 gap-2 border-b;

            > div {
                @apply flex-1 last:font-semibold first:text-[#666C73] last:text-[#021825];
            }
        }

        &__content {
            @apply lg:p-6 p-[16px] lg:pt-8 bg-[#fff] relative lg:h-[100vh] overflow-auto;
            box-shadow: 0px 2px 4.1px 0px rgba(0, 0, 0, 0.20);

            @media screen and (max-width: 375px) {
                @apply h-[240px];
            }

            &__title {
                @apply font-semibold text-lg/[26px] mb-2 text-[#021825];
            }

            &__address {
                @apply font-normal text-sm mb-6 text-[#021825];
            }

            .station-area {
                @apply my-4 flex flex-col gap-y-4;
            }
            .station {
                @apply rounded-lg overflow-hidden;
                &__handler {
                    @apply  w-full max-w-[unset] py-1 flex justify-between items-center bg-[#E9EFFB] px-4 cursor-pointer;
                    &__text {
                        div {
                            @apply font-semibold text-sm text-[#021825];
                        }

                        span {
                            @apply text-sm text-[#666C73];
                        }
                    }
                    &__arrow {
                        @apply w-6 h-6;
                        svg {
                            @apply transition-all;
                            path {
                                @apply fill-kblbb-text #{!important};
                            }
                        }
                    }

                    &[aria-expanded="true"] {
                        .station__handler {
                            // &__text {
                            //     @apply text-white #{!important}
                            // }

                            &__arrow {
                                svg {
                                    @apply rotate-180;
                                    path {
                                        // @apply fill-white #{!important};
                                    }
                                }
                            }
                        }
                    }
                }

                &__content {
                    @apply grid text-sm bg-white overflow-hidden border border-[#DAE0EA] rounded-b-lg transition-all duration-300 ease-in-out;

                    .map-detail__data {
                        @apply px-2;

                        > div {
                            @apply first:font-semibold last:font-normal;

                            ul {
                                @apply list-disc ml-5;
                            }
                        }
                    }
                    &__list-connector {
                        @apply flex justify-between mb-2 last:mb-0 items-start p-2 first:pt-4 last:pb-4;

                        .connector {
                            @apply p-1 rounded-full bg-white;
                        }

                        .price {
                            @apply text-[10px];
                        }
                        .type {
                            @apply text-[12px] leading-normal;
                        }

                        .type {
                            @apply font-bold;
                        }

                        .status {
                            @apply leading-normal bg-kblbb-green text-white w-fit uppercase text-[8px] tracking-wider mt-1 font-bold px-3 py-1 rounded-full;
                        }
                    }
                }
            }

            .button {
                @apply py-[11px] w-full mt-4;
            }
        }
    }

    div[role="menubar"] {
        @apply hidden;
    }
}