
.apexcharts-canvas {
    @apply 1xl:w-full #{!important};
    .apexcharts-pie {
        border-radius: 50%; /* This won't have any effect on the slices but gives an idea of rounding */
        @media screen and (max-width: 600px) {
            transform: scale(0.9);
        }
    }
    .apexcharts-datalabel-label {
        @apply text-[#666C73] text-sm not-italic font-bold leading-[18px] tracking-[1px] uppercase;
    }
    .apexcharts-datalabel-value {
        @apply text-[#021825] text-center text-[32px] not-italic font-bold leading-9;
    }
    .apexcharts-legend {
        @apply top-[20%];
        &-series {
            &:hover {
                @apply bg-[#E9EFFB];
                .legend-apex {
                    @apply w-full items-center;
                    .legend-label {
                        @apply font-[700] #{!important};
                    }
                    .legend-percent {
                        @apply font-[700] #{!important};
                    }
                }
            }

            @apply rounded-[8px] m-0 flex gap-[4px] px-[8px] py-[8px];
            .apexcharts-legend-text {
                @apply flex flex-row justify-between items-center w-full ;
                .legend-apex {
                    @apply w-full items-center;
                    .legend-label {
                        @apply text-[#111] text-center text-xs not-italic font-medium;
                    }
                    .legend-percent {
                        @apply text-[#111] text-right text-xs not-italic font-medium leading-3 font-albert;
                    }
                }
            }
        }
    }

    .apexcharts-svg {
        @apply w-full;
        foreignObject {
            @apply w-full flex relative;
        }
    }
}

.apex-list {
    .apexcharts-graphical {
        transform: translate(-2px, 10px) !important;
    }
}


.legend-apex {
    @apply flex justify-between items-center;
}
