.item-card {
    @apply flex flex-col gap-[24px];

    table {
        box-shadow: 0px 4px 15px 0px rgba(6, 12, 41, 0.15);
    }

    &_header {
        @apply flex flex-col gap-[16px];
        &-head {
            @apply flex flex-row items-center gap-[4px];
            h2 {
                @apply text-[#080808] text-2xl not-italic font-semibold leading-[34px] font-albert;
            }
        }
        &-lead {
            @apply flex flex-col gap-[24px];
            p {
                @apply text-[#021825] text-base not-italic font-light leading-6 font-albert mb-0 lg:max-w-[830px];

            }
        }

        .item-lead {
            @apply flex flex-col gap-4 lg:max-w-[830px];

        }
        &-link {
            @apply flex flex-row items-center gap-[10px];
            span {
                @apply text-[#021825] text-base not-italic font-light leading-6 font-albert;
            }
            a {
                @apply rounded-[100px] border flex items-center border-solid border-[#2A50B0] bg-transparent hover:bg-[#2A50B0] hover:text-white;
                @apply h-8 px-4 py-2;
                @apply text-[#2A50B0] text-sm not-italic font-semibold leading-[18px] font-albert;
            }
        }
    }
    .content-wrapper-card {
        &_double {
            @apply grid grid-cols-1 1xl:grid-cols-2 gap-[24px];
        }
        &_single {
            @apply flex flex-col w-full;
            .card {
                .card-header {
                    @apply mb-[40px];
                }
            }
        }
    }
    .card {
        @apply w-full bg-[#fff] py-[24px] px-[24px] shadow-none;
        &-header {
            @apply mb-[24px];
            h3 {
                @apply flex flex-row gap-[4px] mb-[8px];
                span {
                    @apply text-[#03242F] text-lg not-italic font-semibold leading-[26px] font-albert;
                }
                svg {
                    @apply mt-[3px] w-[20px] h-[20px];
                }
            }
            p {
                @apply font-albert mb-[8px];
                @apply text-[#021825] text-sm not-italic font-light leading-[22px];
                font-feature-settings: "clig" off, "liga" off;
            }
            .unit {
                @apply flex flex-row gap-[8px];
                @apply text-[#021825] text-4xl not-italic font-semibold leading-[48px] font-albert;
                font-feature-settings: "clig" off, "liga" off;
                .title {
                    @apply text-[#16824E] text-sm not-italic font-semibold leading-[22px] font-albert;
                }
                span {
                    @apply text-[#021825] text-sm not-italic font-semibold leading-[48px] font-albert mt-[5px];
                    font-feature-settings: "clig" off, "liga" off;
                }
            }
            .date {
                @apply font-albert;
                @apply text-[#021825] text-sm not-italic font-light leading-[22px] font-albert;
                font-feature-settings: "clig" off, "liga" off;
            }
        }
        &-body {
            .tabs {
                @apply flex items-center my-[16px];
                &-item {
                    @apply px-[10px] py-[4px] border border-[#DBE3EB];
                    &-active-switch {
                        @apply bg-[#DBE3EB];

                    }
                    &:hover {
                        @apply bg-[#DBE3EB];
                    }
                    &:first-child {
                        @apply rounded-l-[4px];
                    }
                    &:last-child {
                        @apply rounded-r-[4px];
                    }
                }

            }
            .list-city {
                ul {
                    @apply p-0 flex flex-col gap-[8px];
                    li {
                        @apply flex flex-row items-center justify-between py-[6px];
                        .one-line {
                            @apply flex flex-row items-center gap-[4px];
                            &_number {
                                @apply flex bg-[#2A50B0] w-4 h-4 justify-center items-center text-white text-center text-[12px] not-italic font-bold leading-[12px] rounded-sm pt-[1px];
                            }
                            h6 {
                                @apply text-[#111] text-center text-sm not-italic font-light leading-[22px] font-albert;
                            }
                        }
                        h5 {
                            @apply text-[#111] text-right text-sm not-italic font-semibold leading-[22px] font-albert;
                        }
                    }
                }
            }
        }

        .tabs {
            @apply flex border-b border-b-[#DAE0EA] mb-4;

            a {
                @apply text-base not-italic font-semibold leading-[18px] text-[#666C73] p-[10px] uppercase block cursor-pointer;
                &.active {
                    @apply text-[#2A50B0] border-b-[2px] border-b-[#2A50B0];
                }
            }
        }
    }
}
