.partner-list {
    @apply pb-[117px];

    .content__container {
        @apply py-[32px] lg:pb-[66px] lg:pt-[72px] flex flex-col gap-[24px] lg:gap-[64px];
        
    }
    .swiper-bottom {
        @media screen and (max-width: 820px) {
            @apply mt-[0px];
        }
    }

    &__heading {
        @apply text-center;
        @apply text-[#666C73] text-center text-sm not-italic font-bold leading-6 tracking-[1px] uppercase;
    }

    .partner-list__logo {
        @apply h-[92px] w-fit relative;

        img {
            @apply h-full object-contain mx-auto;
        }
    }
    .tns-ovh {
        overflow: unset;
    }

    .tns-outer {
        @apply relative;
        @apply relative max-w-[1100px] mx-auto;
        .tns-controls {
            @apply absolute z-10 flex gap-[16px];
            @apply bottom-[-106px] right-2.5;

            button {
                @apply w-6 h-6 text-[0px] bg-no-repeat bg-center hover:opacity-80 transition-all top-1/2 -translate-y-1/2;
                &[data-controls="prev"] {
                    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_2221_42669" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" transform="matrix(-1 0 0 1 24 0)" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_2221_42669)"><path d="M10.9693 12L14.0442 15.075L13 16.1443L8.85575 12L13 7.85575L14.0442 8.925L10.9693 12ZM11.9983 21.5C13.3123 21.5 14.5473 21.2507 15.7035 20.752C16.8597 20.2533 17.8653 19.5766 18.7205 18.7218C19.5757 17.8669 20.2528 16.8617 20.7518 15.706C21.2506 14.5503 21.5 13.3156 21.5 12.0017C21.5 10.6877 21.2507 9.45267 20.752 8.2965C20.2533 7.14033 19.5766 6.13467 18.7217 5.2795C17.8669 4.42433 16.8617 3.74725 15.706 3.24825C14.5503 2.74942 13.3156 2.5 12.0017 2.5C10.6877 2.5 9.45267 2.74933 8.2965 3.248C7.14033 3.74667 6.13467 4.42342 5.2795 5.27825C4.42433 6.13308 3.74725 7.13833 3.24825 8.294C2.74942 9.44967 2.5 10.6844 2.5 11.9983C2.5 13.3123 2.74933 14.5473 3.248 15.7035C3.74667 16.8597 4.42342 17.8653 5.27825 18.7205C6.13308 19.5757 7.13833 20.2528 8.294 20.7518C9.44967 21.2506 10.6844 21.5 11.9983 21.5ZM12 20C9.76667 20 7.875 19.225 6.325 17.675C4.775 16.125 4 14.2333 4 12C4 9.76667 4.775 7.875 6.325 6.325C7.875 4.775 9.76667 4 12 4C14.2333 4 16.125 4.775 17.675 6.325C19.225 7.875 20 9.76667 20 12C20 14.2333 19.225 16.125 17.675 17.675C16.125 19.225 14.2333 20 12 20Z" fill="%234E9275"/></g></svg>');
                }

                &[data-controls="next"] {
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M11.0307 10L7.95575 13.075L9 14.1443L13.1443 10L9 5.85575L7.95575 6.925L11.0307 10ZM10.0017 19.5C8.68775 19.5 7.45267 19.2507 6.2965 18.752C5.14033 18.2533 4.13467 17.5766 3.2795 16.7218C2.42433 15.8669 1.74725 14.8617 1.24825 13.706C0.749417 12.5503 0.5 11.3156 0.5 10.0017C0.5 8.68775 0.749333 7.45267 1.248 6.2965C1.74667 5.14033 2.42342 4.13467 3.27825 3.2795C4.13308 2.42433 5.13833 1.74725 6.294 1.24825C7.44967 0.749417 8.68442 0.5 9.99825 0.5C11.3123 0.5 12.5473 0.749333 13.7035 1.248C14.8597 1.74667 15.8653 2.42342 16.7205 3.27825C17.5757 4.13308 18.2528 5.13833 18.7518 6.294C19.2506 7.44967 19.5 8.68442 19.5 9.99825C19.5 11.3123 19.2507 12.5473 18.752 13.7035C18.2533 14.8597 17.5766 15.8653 16.7218 16.7205C15.8669 17.5757 14.8617 18.2528 13.706 18.7518C12.5503 19.2506 11.3156 19.5 10.0017 19.5ZM10 18C12.2333 18 14.125 17.225 15.675 15.675C17.225 14.125 18 12.2333 18 10C18 7.76667 17.225 5.875 15.675 4.325C14.125 2.775 12.2333 2 10 2C7.76667 2 5.875 2.775 4.325 4.325C2.775 5.875 2 7.76667 2 10C2 12.2333 2.775 14.125 4.325 15.675C5.875 17.225 7.76667 18 10 18Z" fill="%234E9275"/></svg>');
                }
            }
        }
        .tns-nav {
            @apply absolute z-[9] h-[30px] w-full left-[30px] -bottom-[105px] flex flex-row gap-[4px];
            button {
                @apply bg-[#2A50B04D] rounded-full w-[6px] h-[6px];
            }
            .tns-nav-active {
                @apply w-[24px] bg-[#2A50B0];
            }
        }
    }

}